USE [master]
GO
/****** Object:  Database [PCB_Vision]    Script Date: 5/19/2024 8:42:29 PM ******/
CREATE DATABASE [PCB_Vision]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PCB_Vision', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PCB_Vision.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PCB_Vision_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PCB_Vision_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PCB_Vision].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PCB_Vision]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/19/2024 8:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](255) NULL,
	[CompanyIndustry] [nvarchar](255) NULL,
	[ProfilePicture] [varbinary](max) NULL,
	[Fullname] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NULL,
	[UserPassword] [nvarchar](255) NULL,
	[IsAdmin] [bit] NULL,
	[IsSelect] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
